data/datasets/VOC/VOCdevkit/VOC2010/**
!data/datasets/VOC/VOCdevkit/VOC2010/ImageSets/
data/datasets/VOC/VOCdevkit/VOC2010/ImageSets/**
!data/datasets/VOC/VOCdevkit/VOC2010/ImageSets/Segmentation/
data/datasets/VOC/VOCdevkit/VOC2010/ImageSets/Segmentation/**

!data/datasets/VOC/VOCdevkit/VOC2010/result.json
!data/datasets/VOC/VOCdevkit/VOC2010/train_list.txt
!data/datasets/VOC/VOCdevkit/VOC2010/ImageSets/Segmentation/intersection.txt
!data/datasets/VOC/VOCdevkit/VOC2010/ImageSets/Segmentation/train_list.txt
!data/datasets/VOC/VOCdevkit/VOC2010/ImageSets/Segmentation/val_list.txt
!data/datasets/VOC/VOCdevkit/VOC2010/intersection.txt

multitask.pth
trainparts.pickle
valparts.pickle
TIME*
.idea/**

